<div class="container-fluid" id="background_image">
	<div class="row">

		<!-- first row -->
	  <div class="col-md-2"></div>
	  <div class="col-md-3"><%= image_tag("logo.png", width: '100%', id: "logo") %></div>
	  <!-- second row -->
	  <div class="col-md-3">
	  	<h3><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> +3-093-96-66-22-2</h3>
	  	<h3><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> admin@store.com</h3>
	  	<h3><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Skype: beststore_kh</h3>
	  </div>
	  <!-- third row -->
	  <div class="col-md-2">
	  	<div class="panel panel-default" id="user_contacts">
			  <div class="panel-body">
			  	<form>
					  <div class="form-group">
					    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="Ваше имя">
					  </div>
					  <div class="form-group">
					    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Номер телефона">
					  </div>
					  <button type="submit" class="btn btn-success">Свяжитесь со мной</button>
					</form>
			  </div>
			</div>
	  </div>
 	  <div class="col-md-4"></div>

	</div>
</div>

<!-- navbar with categories -->
<nav class="navbar navbar-inverse">
  <div class="container">

	    <ul class="nav navbar-nav">
	      <li><a href="#">Apple</a></li>
	      <li><a href="#">Гаджеты и аксессуары</a></li>
	      <li><a href="#">Мобильная связь</a></li>
	      <li><a href="#">Ноутбуки и планшеты</a></li>
	      <li><a href="#">Фото, ТВ, Видео, Аудио</a></li>
	      <li><a href="#">Бытовая техника</a></li>
	      <li><a href="#">Для спорта и отдыха</a></li>
	      <li><a href="#">Дача, сад, ремонт</a></li>
	    </ul>

	</div>
</nav>