<nav class="navbar navbar-default">
  <div class="container">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <a class="navbar-brand" href="#"><b>SimplyStore</b></a>
	  </div>

	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav">
	      <li><a href="#">Акции</a></li>
	      <li><a href="#">Покупка</a></li>
	      <li><a href="#">Доставка</a></li>
	      <li><a href="#">Гарантия</a></li>
	      <li><a href="#">Контакты</a></li>
	    </ul>
		      
	    <ul class="nav navbar-nav navbar-right">
	      <button class="btn btn-success" style="margin-top: 5%">Корзина: 0 товаров</button>
	    </ul>
	  </div>
	</div>
</nav>