<h1><b>Покупка</b></h1>

<h3>У Вас есть возможность приобрести товар с нашего сайта двумя способами:</h3>

1. Через интерфейс сайта с помощью заказа в корзину Покупателя<br />
2. По телефону, позвонив нам по номеру 8(044) 520-520-0

<h3>Заказ с помощью интерфейса сайта</h3>

<p>Для начала Вам рекомендуется пройти несложную регистрацию - в дальнейшем вы увидите все преимущества этого способа, такие как - контроль состояния Вашего заказа, участие в акциях, накопительная система и скидки, которые мы часто используем, проматривать историю всех ваших заказов. Сможете контролировать получение нами оплаты, отправку заказа к Вам, дату и время получения заказа.</p>
<p>Все заказы осуществляются с помощью корзины. Когда вы нажимаете кнопку "Купить" - товар автоматически перемещается в корзину, и если вы уже являетесь зарегистрированым пользователем - интерфейс предложить использовать уже введенные ваши контактные данные - адрес доставки и контактный телефон.</p>
<p>Далее, при надобности - уточнения времени доставки или на случай, если товара не окажется в наличии - менеджер перезвонит по указанному номеру и предложит варианты решения - альтернативу, сроки поставки нового товара при возможности.</p>
<p>Если вы хотите расчитаться за товар по безналичной оплате - укажите в комментариях свои контакты - ТОВ, ЧП или другие и телефон/факс и контактное лицо на которое выставлять счет.</p>

<h3>Заказ по телефону</h3>

<p>Этот путь - наиболее быстрый и оперативный. Вы сразу же можете узнать о наличии товара на момент заказа, способах оплаты и доставки. Просто наберите 8(044) 520-520-0, и вы можете получить консультацию, задать интересующие и уточняющие вопросы. Всё что о вас будет требоваться - просто оформить заказ в усной форме и оставить контактный телефон и желаемое место доставки. Всё максимально просто и эффективно. Не забывайте, что в большинстве случаев через сайт заказывать выгоднее, потому что акции распространяются на зарегистрированых пользователей. Так же им доступны некоторые дополнительные разделы сайта.</p>

<h3><b>Оплата через ПриватБанк</b></h3>

<h3>При оплате через терминал:</h3>
<ul>
<li>Выбирайте: "Оплата інших послуг" - "Знайти підприємство за назвою або реквізітами" - "Введіть ЄДРПОУ"</li>
<li>Вводите необходимую информацию (код ОКПО, номер заказа и сумму), которую вы получили от нашего менеджера.</li>
</ul>

<h3>При оплате через Приват24:</h3>
<ul>
<li>Выбирайте: "Мои платежи" - "Создать платеж" - "Ввести реквизиты вручную"</li>
<li>Вводите необходимую информацию (код ОКПО, номер заказа и сумму), которую вы получили от нашего менеджера.</li>
</ul>

<b>Внимание!</b>Максимальный единоразовый платеж ограничен суммой в 15000 грн.