<h1>Контакты</h1>

<div class="row">
  <div class="col-md-4">
    <h4>Call-центр</h4>
    +38 (044) 520-520-0<br/>
    +38 (067) 474-11-33<br/>
    +38 (050) 474-11-33<br/>
    +38 (063) 874-11-33
  </div>
  <div class="col-md-4">
    <h4>График работы Call-центра</h4>
    Пн.–Пт.: с 09:00 до 21:00<br/>
    Сб.: с 09:00 до 20:00<br/>
    Вс.: с 09:00 до 19:00
  </div>
  <div class="col-md-4">
    <h4>Электронная почта</h4>
    info@beststore.kh.ua
  </div>
</div>