<h1>Доставка</h1>

<p>Все товары в нашем магазине продаются с доставкой. Если Вам удобней забрать заказ самому, приезжайте к нам в гости. Как к нам добраться, Вы можете найти в разделе контакты. Сделать заказ можно несколькими способами: позвонить по телефону 044-520-520-0 или заполнить форму заказа в интернет-магазине. Если нет возможности осуществить звонок, мы сами можем позвонить клиенту – работает услуга «Не смогли дозвониться».</p>

<h3>Самовывоз товара из офиса</h3>

<p>Будем рады Вашему приезду к нам. В г. Киев мы находимся по адресу: ул. Артема 79.</p>

<p>В перечисленных городах Вы можете приехать в представительство и забрать товар сами:</p>
<ul>
<li>г. Харьков, ул. Москалёвская (Октябрьской Революции), 24б</li>
<li>г. Днепр, ул. Сечевых Стрельцов (Артема), 2</li>
<li>г. Львов, ул. Генерала Чупринки, 47 (Магазин "Upgrade Computers")</li>
<li>г. Запорожье, ул. Независимой Украины (40 лет Соетской Украины), 39а, к.14 (вход через правое парадное 2-й этаж комната 14)</li>
<li>г. Ивано-Франковск, ул. Днестровская, 45а (ТЦ "Глобус", 3 этаж, офис 18)</li>
<li>г. Кременчуг, ул. Пролетарская 17 (офис 3)</li>
</ul>
<p>Просим заранее предупреждать нас о своем визите по телефону (044) 520-520-0 - менеджер поставит интересующий товар под Вас в резерв, а Вам необходимо сообщить ваш контактный телефон, имя и ориентировочное время Вашего визита.</p>

<b>Отправка на филиалы:</b> понедельник - суббота.
<br />
<b>Выдача товаров на филиалах:</b> Пн.-Пт.: с 10.00 до 18.00, Cб.-Вс.: выходной.
<br />
<b>Стоимость доставки на филиал:</b> Бесплатно.
<br />
<h3>Доставка по Харькову</h3>

<p>Доставка осуществляется с 9:00 до 21:00 в рабочие дни и с 10:00 до 20:00 по субботам и воскресеньям. При дополнительном согласовании мы можем осуществить доставку в другое оговоренное с Вами время.</p>
<b>Стоимость доставки: 35 грн. *</b>
<br /><br />
<p>Если Вы разместили заказ до 15-00, мы Вам его доставим в тот же день. Заказы, полученные после 15-00 доставляются на следующий день. Мы доставим Вам заказ по указанному Вами адресу в удобное для Вас время, продемонстрируем работоспособность товара, а так же оформим все необходимые документы - товарный чек, гарантийный талон. Доставка осуществляется до парадного.</p>

<p>Доставка осуществляется до подъезда (кроме КБТ, которая поднимется на этаж), с возможностью свободного проезда. Из соображений безопасности, проверка товара и товарно-денежный обмен проводится в авто курьера.</p>