<h1>Гарантия</h1>

<h3>Договорные гарантийные обязательства Stylus.com.ua</h3>

<p>1. Продавец гарантирует, что купленное изделие является работоспособным и не содержит выявленных механических и иных повреждений на момент осуществления продажи. Комплектность изделий проверяется при покупке.</p>

<p>2. Гарантия на проданные изделия при условии соблюдения условий гарантии подразумевает под собой бесплатный ремонт изделия в течении гарантийного срока, указанного в нашем гарантийном талоне, либо его замену на аналогичное по назначению устройство в случае невозможности ремонта.</p>

<p>3. Гарантия действительна только при наличии правильно и четко заполненных документов подтверждающих покупку (товарный чек), и данного Договорного гарантийного обязательства, подписанного Покупателем, либо фирменного гарантийного талона производителя с заполнеными полями и росписью покупателя.</p>

<p>4. Покупатель обязан до начала ввода в эксплуатацию оборудования ознакомиться с Правилами его использования и гарантийного обслуживания, содержащимися в прилагаемых к оборудованию инструкциях и убедиться в отсутствии внешних повреждений.</p>

<h3>Дополнения</h3>

Сервисный центр может отказать в гарантийном ремонте в случае из-за:
<br />
<ul>
<li>нарушения сохранности гарантийных пломб;</li>
<li>наличия механических и иных повреждений, возникших вследствие умышленных или неосторожных действий покупателя или третьих лиц;</li>
<li>нарушения правил использования, изложенных в эксплуатационных документах;</li>
<li>несанкционированного вскрытия, ремонта или изменения внутренних коммуникаций и компонентов товара, изменения конструкций или схемы товара;</li>
<li>неправильного заполнения гарантированного талона;</li>
<li>если серийный или IMEI номер, находящийся в памяти изделия, изменён, стёрт или не может быть установлен.</li>
</ul>