<p id="notice"><%= notice %></p>

<br />
<div class="row">
  <% @items.each do |i| %>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= link_to "Перейти", item_path(i) %>
          <%= i.description %>
        </div>
      </div>
    </div>
  <% end %>
</div>