<h4 id="notice" style="text-align: center;"><b><%= notice %></b></h4>

<center><img src="http://cdn1.citrus.ua/upload/iblock/e8d/welcome-november-gift-slider-728x250.jpg" /></center>

<h3><b>Лучшие предложения</b></h3>

<br />
<div class="row">
<% @items.each do |i| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
    <%= url_to_image(i.image) %>    
      <div class="caption">
        <h3><%= link_to i.name, item_path(i) %></h3>
      </div>
    </div>
  </div>
<% end %>
</div>

<hr />

<h3><b>Акции и распродажи</b></h3>

<br />
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://stylus.ua/thumbs/220x280/11/5a/516780.png" />    
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
    <img src="http://stylus.ua/thumbs/220x280/07/24/516493.png" />    
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
    <img src="http://stylus.ua/thumbs/220x280/60/45/515820.png" />    
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
    <img src="http://stylus.ua/thumbs/220x280/11/5a/516780.png" />
    </div>
  </div>
</div>
<%= render partial: 'visited_items' %>

<hr />

<h3>Интернет-магазин — самый выгодный способ совершения покупки</h3>

<p>Многие из нас предпочитают интернет-магазины, поскольку это оптимальный способ сэкономить время и деньги. Если вы заинтересованы в приобретении электроники, бытовой техники, товаров для дома, офиса, автомобиля, детей. Или же просто ищите аксессуар для мобильного устройства либо полезный гаджет. То дешевый интернет-магазин «GadgetStore» как раз предлагает вам такую возможность.</p>